/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.home_bg{
    background-image: url(../src/assets/images/homebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 2 / span 2;
}


.div3 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 2;
}
        

@media(max-width: 1024px) {
    .parent{
        display: flex;
    }
}